#recommenders.collapsed {
  display: none;
}

#recommenders-title a {
  display: block;
}

#recommenders-title.expanded a {
  background: url(close.png) no-repeat top right;
  display: block;
}

#recommend-node-form span.throbber {
  background: url(throbber.gif) no-repeat 0 -20px;
  height: 15px;
  padding-left: 15px; /* inline elements don't have width, but this works */
}
